body {
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #e3f2fd, #bbdefb);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #fff;
    padding: 20px 25px;
    border-radius: 15px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    width: 350px;
    margin: 50px auto;
}

h1 {
    text-align: center;
    color: #1565c0;
}

.balance {
    text-align: center;
    margin: 20px 0;
}

.summary {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.income p {
    color: green;
    font-weight: bold;
}

.expense p {
    color: red;
    font-weight: bold;
    text-align: right;
}

.input {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 95%;
    padding: 15px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    border: none;

    background-color: rgb(224, 224, 244);
}

.input button {
    width: 60%;
    margin: 10px;
}

button {
    max-width: 40%;
    padding: 8px;
    margin-top: 10px;
    background: #1976d2;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin: auto 0px auto 10px;
}

button:hover {
    background: #0d47a1;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f7f7f7;
    margin-top: 10px;
    padding: 8px;
    border-left: 5px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

li.income {
    border-color: green;
}

li.expense {
    border-color: red;
}

.desc {
    flex: 1;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.amount {
    min-width: 80px;
    text-align: right;
    font-weight: 600;
}

.delete-btn {
    background: transparent;
    border: none;
    color: crimson;
    font-weight: bold;
    cursor: pointer;
}
